.footerContainer{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 131, 131);
    color: white;
}

.span{
    color: rgb(56, 56, 56);
    font-weight: bold;
    text-decoration: underline;
}
.span:hover{
    color: white;
}


.react{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.icon{
    width: 20px;
}